.sparkel1{
    margin-top: 100vh;
    position: absolute;
    background-color: rgb(255, 0, 0);
    width: 4vh;
    height: 4vh;
    border-radius: 0.3vh ;
    box-shadow: red 0px 0px 2vh;
    animation: sparkel 1s  forwards ;
}
.sparkel2{
    margin-top: 100vh;
    position: absolute;
    background-color: rgb(255, 115, 0);
    width: 4vh;
    height: 4vh;
    border-radius: 0.3vh ;
    box-shadow: red 0px 0px 2vh;
    animation: sparkel2 1s  forwards ;
}
.sparkel3{
    margin-top: 100vh;
    position: absolute;
    background-color: rgb(255, 123, 7);
    width: 4vh;
    height: 4vh;
    border-radius: 0.3vh ;
    box-shadow: rgb(255, 183, 0) 0px 0px 2vh;
    animation: sparkel3 1s  forwards ;
}
.sparkel4{
    margin-top: 100vh;
    position: absolute;
    background-color: rgb(251, 255, 0);
    width: 4vh;
    height: 4vh;
    border-radius: 0.3vh ;
    box-shadow: red 0px 0px 2vh;
    animation: sparkel4 1s  forwards ;
   
}
.sparkel5{
    margin-top: 100vh;
    position: absolute;
    background-color: rgb(255, 179, 0);
    width: 4vh;
    height: 4vh;
    border-radius: 0.3vh ;
    box-shadow: red 0px 0px 2vh;
    animation: sparkel5 1s  forwards ;
   
}
@keyframes sparkel5 {
    0%{
        width: 4vh;
        height: 4vh;
    }
    100%{
        height: 0vh;
        width: 0vh;
        opacity: 0.4;
        transform: translate(-9vh,9vh);
    }
}
@keyframes sparkel4 {
    0%{
        width: 4vh;
        height: 4vh;
    }
    100%{
        height: 0vh;
        width: 0vh;
        opacity: 0.4;
        transform: translate(9vh,0vh);
    }
}
@keyframes sparkel3 {
    0%{
        width: 4vh;
        height: 4vh;
    }
    100%{
        height: 0vh;
        width: 0vh;
        opacity: 0.4;
        transform: translate(9vh,9vh);
    }
}
@keyframes sparkel2 {
    0%{
        width: 4vh;
        height: 4vh;
    }
    100%{
        height: 0vh;
        width: 0vh;
        opacity: 0.4;
        transform: translate(-9vh,0vh);
    }
}
@keyframes sparkel {
    0%{
        width: 4vh;
        height: 4vh;
    }
    100%{
        height: 0vh;
        width: 0vh;
        opacity: 0.4;
        transform: translate(0vh,9vh);
    }
}

.rocket1{
    margin-top: 0;
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 4vh;
    height: 4vh;
    border-radius: 2vh ;
  
    animation: rocketup1 0.9s forwards  ;
    animation-timing-function: cubic-bezier(0.510, 0.105, 0.880, 0.465);
}
.rocket2{
    margin-top: 0;
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 4vh;
    height: 4vh;
    border-radius: 2vh ;
  
    animation: rocketup2 0.9s forwards  ;
    animation-timing-function: cubic-bezier(0.510, 0.105, 0.880, 0.465);
}
.rocket3{
    margin-top: 0;
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 4vh;
    height: 4vh;
    border-radius: 2vh ;
  
    animation: rocketup3 0.9s forwards  ;
    animation-timing-function: cubic-bezier(0.510, 0.105, 0.880, 0.465);
}
.rocket4{
    margin-top: 0;
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 4vh;
    height: 4vh;
    border-radius: 2vh ;
  
    animation: rocketup4 0.9s forwards  ;
    animation-timing-function: cubic-bezier(0.510, 0.105, 0.880, 0.465);
}
.rocket5{
    margin-top: 0;
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 4vh;
    height: 4vh;
    border-radius: 2vh ;
  
    animation: rocketup5 0.9s forwards  ;
    animation-timing-function: cubic-bezier(0.510, 0.105, 0.880, 0.465);
}
 @keyframes rocketup1 {
    100%{
        top: 214vh;
        left: 48vw;
    }
 }
 @keyframes rocketup2 {
    100%{
        top: 230vh;
        left: 88vw;
    }
 }
 @keyframes rocketup3 {
    100%{
        top: 224vh;
        left: 18vw;
    }
 }
 @keyframes rocketup4 {
    100%{
        top: 214vh;
        left: 68vw;
    }
 }
 @keyframes rocketup5 {
    100%{
        top: 234vh;
        left: 38vw;
    }
 }
 .explosion{
    position: absolute;
    
    width: 4vh;
    height: 4vh;
    border-radius: 2vh ;
 }


 



 .botspark1{
    margin-top: 100vh;
    position: absolute;
    background-color: red;
    width: 4vh;
    height: 4vh;
    border-radius: 2vh ;
    box-shadow: red 0px 0px 2vh;
    animation: botsmall 1s  forwards ;
}
.botspark2{
    margin-top: 100vh;
    position: absolute;
    background-color: red;
    width: 4vh;
    height: 4vh;
    border-radius: 2vh ;
    box-shadow: red 0px 0px 2vh;
    animation: botsmall2 1s  forwards ;
}
.botspark3{
    margin-top: 100vh;
    position: absolute;
    background-color: red;
    width: 4vh;
    height: 4vh;
    border-radius: 2vh ;
    box-shadow: red 0px 0px 2vh;
    animation: botsmall3 1s  forwards ;
}
.botspark4{
    margin-top: 100vh;
    position: absolute;
    background-color: red;
    width: 4vh;
    height: 4vh;
    border-radius: 2vh ;
    box-shadow: red 0px 0px 2vh;
    animation: botsmall4 1s  forwards ;
   
}
@keyframes botsmall4 {
    0%{
        width: 4vh;
        height: 4vh;  
    }
    30%{
        
    }
    60%{
       
    }
    100%{
        transform: translate(0vh,12vw);
        opacity: 0.5;
        width: 0vh;
        height: 0vh;  
        
    }
}
@keyframes botsmall3 {
    0%{
        width: 4vh;
        height: 4vh;  
    }
    30%{
        
    }
    60%{
       
    }
    100%{
        transform: translate(-9vh,0vw);
        opacity: 0.5;
        width: 0vh;
        height: 0vh;  
       
    }
}
@keyframes botsmall2 {
    0%{
        width: 4vh;
        height: 4vh;  
    }
    30%{
        
    }
    60%{
       
    }
    100%{
        transform: translate(9vh,0vw);
        opacity: 0.5;
        width: 0vh;
        height: 0vh;  
       
    }
}
@keyframes botsmall {
    0%{
        width: 4vh;
        height: 4vh;  
    }
    30%{
        
    }
    60%{
       
    }
    100%{
        transform: translateY(-12vh);
        opacity: 0.5;
        width: 0vh;
        height: 0vh;  
       
    }
}